@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&family=ZCOOL+QingKe+HuangYou&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

/* font-family: 'Londrina Shadow', cursive; */
font-family: 'Mulish', sans-serif;
    /* font-family: 'ZCOOL QingKe HuangYou', cursive; */

}

